
<div class="footer">
  <span class="footer-terms align-content-left">
      <span>© 2024 MemesBNB, Inc.   </span>
      <a style="text-decoration:none" href="#">Terms  · </a>
      <a style="text-decoration:none" href="#">Sitermap  · </a>
      <a style="text-decoration:none" href="#">Privacy  ·  </a>
      <a style="text-decoration:none" href="#">Your Privacy Choices  </a>
  </span>
  <div class="footer-links align-content-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright align-content-right">
    Made with <i class="fas fa-heart"></i> at MemesBNB
  </div>
</div>
