
<h1 class="h1 text-info">Landing Page</h1>

<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="d-flex justify-content-between">
    <% @memes.each do |meme| %>
      <div>
        <%= meme.description %>
        <%= meme.price %>
      </div>
    <% end %>
  </div>
</div>

<div><img src="/app/assets/images/html, css bird meme.jpg" alt="CSS bird meme"></div>
<h2 class="text-primary m-4"><%= link_to "Go to memes index page", memes_path %></h2>










<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at MemesBNB
  </div>
</div>
