

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  padding: 5px 20px;
  margin-top: 10px;
}
.navbar_img {
  border-radius: 50%;
}

.login_button {

  background-color: blue;
  color: white;
  text-decoration: none;
  font-size: larger;
}
// .navbar_image{
//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: flex-start;
//   height: 50px;
// }
